.details-page {
  text-align: center;

  &__status-icon {
    margin: 0 auto 30px auto;
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }

  &__temperature {
    margin-bottom: 40px;
    font-size: 62px;
  }

  &__table {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
  }
}