.city-card {
  padding: 15px;
  text-align: center;
  width: 33.333%;
  flex-shrink: 0;

  &__content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 60px 60px;
    height: 380px;
    border-radius: 20px;
    transition: background ease-in-out 150ms;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    &__status-icon {
      display: block;
      margin: 0 auto 10px auto;
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    &__condition {
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 14px;
      min-height: 22px;
    }

    &__temperature {
      margin-bottom: 20px;
      font-size: 48px;
    }

    &__title {
      line-height: normal;
      font-weight: 300;
      font-size: 24px;
    }
  }

  &__remove {
    background: transparent;
    border: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-weight: 300;
    font-size: 12px;
    color: #4362ff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #689dff;
    }
  }
}