:global {
    html, body {
        height: 100%;
    }

    body, #app {
        display: flex;
        flex-direction: column;
    }

    .page_details {
        height: 100%;
        background-color: #84b8e2;
    }
}